# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Profs. Flávio Martins e João Caldeira

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1106909 Guilherme Campos</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1105875 Maria Ramos</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1106336 Enzo Nunes</dd>
<dl>

In [3]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://postgres:postgres@postgres/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql+psycopg://postgres:***@postgres/postgres'

## 0. Carregamento da Base de Dados

Crie a base de dados “Saude” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados de seguida

In [85]:
%%sql

DROP TABLE IF EXISTS clinica CASCADE;
DROP TABLE IF EXISTS enfermeiro CASCADE;
DROP TABLE IF EXISTS medico CASCADE;
DROP TABLE IF EXISTS trabalha CASCADE;
DROP TABLE IF EXISTS paciente CASCADE;
DROP TABLE IF EXISTS receita CASCADE;
DROP TABLE IF EXISTS consulta CASCADE;
DROP TABLE IF EXISTS observacao CASCADE;

CREATE TABLE clinica(
	nome VARCHAR(80) PRIMARY KEY,
	telefone VARCHAR(15) UNIQUE NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) UNIQUE NOT NULL
);

CREATE TABLE enfermeiro(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	nome_clinica VARCHAR(80) NOT NULL REFERENCES clinica (nome)
);

CREATE TABLE medico(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	especialidade VARCHAR(80) NOT NULL
);

CREATE TABLE trabalha(
nif CHAR(9) NOT NULL REFERENCES medico,
nome VARCHAR(80) NOT NULL REFERENCES clinica,
dia_da_semana SMALLINT,
PRIMARY KEY (nif, dia_da_semana)
);

CREATE TABLE paciente(
	ssn CHAR(11) PRIMARY KEY CHECK (ssn ~ '^[0-9]+$'),
nif CHAR(9) UNIQUE NOT NULL CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	data_nasc DATE NOT NULL
);

CREATE TABLE consulta(
	id SERIAL PRIMARY KEY,
	ssn CHAR(11) NOT NULL REFERENCES paciente,
	nif CHAR(9) NOT NULL REFERENCES medico,
	nome VARCHAR(80) NOT NULL REFERENCES clinica,
	data DATE NOT NULL,
	hora TIME NOT NULL,
	codigo_sns CHAR(12) UNIQUE CHECK (codigo_sns ~ '^[0-9]+$'),
	UNIQUE(ssn, data, hora),
	UNIQUE(nif, data, hora)
);

CREATE TABLE receita(
	codigo_sns VARCHAR(12) NOT NULL REFERENCES consulta (codigo_sns),
	medicamento VARCHAR(155) NOT NULL,
	quantidade SMALLINT NOT NULL CHECK (quantidade > 0),
	PRIMARY KEY (codigo_sns, medicamento)
);

CREATE TABLE observacao(
	id INTEGER NOT NULL REFERENCES consulta,
	parametro VARCHAR(155) NOT NULL,
	valor FLOAT,
PRIMARY KEY (id, parametro)
);

++
||
++
++

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Os horários das consultas são à hora exata ou meia-hora no horário 8-13h e 14-19h

In [76]:
%%sql
-- (RI-1)
ALTER TABLE consulta
ADD CONSTRAINT check_consulta_hora
CHECK (
    (EXTRACT(HOUR FROM hora) BETWEEN 8 AND 12 OR EXTRACT(HOUR FROM hora) BETWEEN 14 AND 18)
    AND (EXTRACT(MINUTE FROM hora) IN (0, 30))
);

++
||
++
++

In [77]:
%%sql
-- Insert a sample medic
INSERT INTO medico (nif, nome, telefone, morada, especialidade)
VALUES 
('123456789', 'Dr. House', '1234567890', '123 Medical St', 'Cardiology'),
('987654321', 'Dr. Strange', '0987654321', '456 Health Ave', 'Neurology');

2 rows affected.

++
||
++
++

In [78]:
%%sql
-- Insert a sample patient
INSERT INTO paciente (ssn, nif, nome, telefone, morada, data_nasc)
VALUES 
('12345678901', '111222333', 'Little John', '1112223334', '789 Patient Rd', '1990-01-01'),
('10987654321', '444555666', 'Liam', '5556667778', '1011 Wellness Blvd', '1985-05-05'),
('10986234321', '123456789', 'Dr. House', '1234567890', '123 Medical St', '1985-05-05');

3 rows affected.

++
||
++
++

In [79]:
%%sql
-- Add a clinic
INSERT INTO clinica (nome, telefone, morada)
VALUES ('CUF Cascais', '123456789', '123 Main St');

1 rows affected.

++
||
++
++

In [52]:
%%sql
-- Insert a valid time
INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
VALUES ('10986234321', '123456789', 'CUF Cascais', '2024-05-25', '08:00', '123456789012');

1 rows affected.

++
||
++
++

(RI-2) Um médico não se pode consultar a si próprio, embora possa ser paciente de outros médicos no sistema

In [80]:
%%sql
-- (RI-2)
CREATE OR REPLACE FUNCTION check_doctor_patient() 
RETURNS TRIGGER AS $$
BEGIN
    IF EXISTS (
        SELECT 1 
        FROM paciente p 
        WHERE p.ssn = NEW.ssn AND p.nif = NEW.nif
    ) THEN
        RAISE EXCEPTION 'A doctor cannot consult himself.';
    END IF;
    RETURN NEW;
END;

$$ LANGUAGE plpgsql;

CREATE TRIGGER trg_check_doctor_patient
BEFORE INSERT ON consulta
FOR EACH ROW
EXECUTE FUNCTION check_doctor_patient();

++
||
++
++

In [62]:
%%sql
-- Insert a doctor consulting himself.
INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
VALUES ('10986234321', '123456789', 'CUF Cascais', '2024-05-25', '08:00', '123456789012');

RuntimeError: (psycopg.errors.RaiseException) A doctor cannot consult himself.
CONTEXT:  PL/pgSQL function check_doctor_patient() line 8 at RAISE
[SQL: INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
VALUES ('10986234321', '123456789', 'CUF Cascais', '2024-05-25', '08:00', '123456789012');]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

(RI-3) Um médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta

In [81]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION check_clinic_workday()
RETURNS TRIGGER AS $$
DECLARE
    weekday_name TEXT;
BEGIN
    SELECT to_char(NEW.data, 'Day') INTO weekday_name;  -- Get the day of the week name
    IF NOT EXISTS (
        SELECT 1
        FROM trabalha t
        WHERE t.nif = NEW.nif
          AND t.nome = NEW.nome
          AND t.dia_da_semana = EXTRACT(ISODOW FROM NEW.data)
    ) THEN
        RAISE EXCEPTION 'A doctor with NIF % and name % can only give consultations in the clinic where they work on %s.', NEW.nif, NEW.nome, weekday_name;
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;
CREATE TRIGGER trg_check_clinic_workday
BEFORE INSERT ON consulta
FOR EACH ROW
EXECUTE FUNCTION check_clinic_workday();

++
||
++
++

In [82]:
%%sql
-- (RI-3)
INSERT INTO trabalha ( nif, nome, dia_da_semana)
VALUES ('123456789', 'CUF Cascais', 1)

1 rows affected.

++
||
++
++

In [83]:
%%sql
-- Insert a doctor givinf a consultation not in his workday's clinic
INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
VALUES ('12345678901', '123456789', 'CUF Cascais', '2024-05-28', '08:00', '123456789012');

RuntimeError: (psycopg.errors.RaiseException) A doctor can only give consultations in the clinic where he works on that weekday.
CONTEXT:  PL/pgSQL function check_clinic_workday() line 10 at RAISE
[SQL: INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns)
VALUES ('12345678901', '123456789', 'CUF Cascais', '2024-05-28', '08:00', '123456789012');]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

## 2. Preenchimento da Base de Dados

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- 5 clínicas, de pelo menos 3 localidades diferentes do distrito de Lisboa
- 5-6 enfermeiros por clínica
- 20 médicos de especialidade ‘clínica geral’ e 40 outros distribuídos como entender por até 5 outras especialidades médicas (incluindo pelo menos, ‘ortopedia’ e ‘cardiologia’). Cada médico deve trabalhar em pelo menos duas clínicas, e em cada clínica a cada dia da semana (incluindo fins de semana), devem estar pelo menos 8 médicos
- Cerca de 5.000 pacientes
- Um número mínimo de consultas em 2023 e 2024 tais que cada paciente tem pelo menos uma consulta, e em cada dia há pelo menos 20 consultas por clínica, e pelo menos 2 consultas por médico
- ~80% das consultas tem receita médica associada, e as receitas têm 1 a 6 medicamentos em quantidades entre 1 e 3
- Todas as consultas têm 1 a 5 observações de sintomas (com parâmetro mas sem valor) e 0 a 3 observações métricas (com parâmetro e valor). Deve haver ~50 parâmetros diferentes para os sintomas (sem valor) e ~20 parâmetros diferentes para as observações métricas (com valor) e os dois conjuntos devem ser disjuntos. 
- Todas as moradas são nacionais e seguem o formato Português, terminando com código postal: XXXX-XXX e de seguida a localidade.
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Saude’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todas as clínicas (nome e morada).|
|/c/\<clinica>/|Lista todas as especialidades oferecidas na \<clinica>.|
|/c/\<clinica>/\<especialidade>/|Lista todos os médicos (nome) da \<especialidade> que trabalham na <clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).|
|/a/\<clinica>/registar/|Registra uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).|
|/a/\<clinica>/cancelar/|Cancela uma marcação de consulta que ainda não se realizou na \<clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.|

### Explicação da arquitetura da aplicação web, incluindo a descrição dos vários ficheiros na pasta web/arquivos e a relação entre eles

...

## 3. Vistas

Crie uma vista materializada que detalhe as informações mais importantes sobre as consultas dos pacientes, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

### *historial_paciente(id, ssn, nif, nome, data, ano, mes, dia_do_mes, localidade, especialidade, tipo, chave, valor)*

em que:
- *id, ssn, nif, nome* e *data*: correspondem ao atributos homónimos da tabela **consulta**
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *data* da tabela **consulta**
- *localidade*: é derivado do atributo *morada* da tabela **clinica**
- *especialidade*: corresponde ao atributo homónimo da tabela **medico**
- *tipo*: toma os valores ‘observacao’ ou ‘receita’ consoante o preenchimento dos campos seguintes
- *chave*: corresponde ao atributo *parametro* da tabela **observacao** ou ao atributo *medicamento* da tabela **receita**
- *valor*: corresponde ao atributo *valor* da tabela **observacao** ou ao atributo *quantidade* da tabela **receita**

In [ ]:
%%sql
-- CREATE MATERIALIZED VIEW ...

## 5. Análise de Dados (SQL e OLAP

Usando a vista desenvolvida no ponto anterior, complementada com outras tabelas da base de dados ‘Saude’ quando necessário, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos. Pode usar as instruções ROLLUP, CUBE, GROUPING SETS ou as cláusulas UNION of GROUP BY para os objetivos em que lhe parecer adequado.

1. Determinar que paciente(s) tiveram menos progresso no tratamento das suas doenças do foro ortopédico para atribuição de uma consulta gratuita. Considera-se que o indicador de falta de progresso é o intervalo temporal máximo entre duas observações do mesmo sintoma (i.e. registos de tipo ‘observacao’ com a mesma chave e com valor NULL) em consultas de ortopedia.

In [ ]:
%%sql
-- SELECT ...

2. Determinar que medicamentos estão a ser usados para tratar doenças crónicas do foro cardiológico. Considera-se que qualificam quaisquer medicamentos receitados ao mesmo paciente (qualquer que ele seja) pelo menos uma vez por mês durante pelo menos doze meses consecutivos, em consultas de cardiologia.

In [ ]:
%%sql
-- SELECT ...

3. Explorar as quantidades totais receitadas de cada medicamento em 2023, globalmente, e com drill down nas dimensões espaço (localidade > clinica), tempo (mes > dia_do_mes), e médico  (especialidade > nome \[do médico]), separadamente.

In [ ]:
%%sql
-- SELECT ...

4. Determinar se há enviesamento na medição de algum parâmetros entre clínicas, especialidades médicas ou médicos, sendo para isso necessário listar o valor médio e desvio padrão de todos os parâmetros de observações métricas (i.e. com valor não NULL) com drill down na dimensão médico (globalmente > especialidade > nome \[do médico]) e drill down adicional (sobre o anterior) por clínica.

In [ ]:
%%sql
-- SELECT ...

## 6. Índices

Apresente as instruções SQL para criação de índices para melhorar os tempos de cada uma das consultas listadas abaixo sobre a base de dados ‘Saude’. Justifique a sua escolha de tabela(s), atributo(s) e tipo(s) de índice, explicando que operações seriam otimizadas e como. Considere que não existam índices nas tabelas, além daqueles implícitos ao declarar chaves primárias e estrangeiras, e para efeitos deste exercício, suponha que o tamanho das tabelas excede a memória disponível em várias ordens de magnitude.

### 6.1
SELECT nome 
FROM paciente 
JOIN consulta USING (ssn) 
JOIN observacao USING (id) 
WHERE parametro = ‘pressão diastólica’ 
AND valor >= 9;

In [ ]:
%%sql
-- CREATE INDEX ...

### Justificação

...

### 6.2
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_ssn) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
SORT BY qtd;

In [ ]:
%%sql
-- CREATE INDEX ...

### Justificação

...