# Lab 02: Consultas em SQL (Parte I)

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

O ficheiro bank.sql contém um conjunto de instruções SQL para criar a base de dados de exemplo ilustrada na Figura 1.

In [6]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://bank:bank@postgres/bank

There's a new jupysql version available (0.10.10), you're running 0.10.9. To upgrade: pip install jupysql --upgrade
Deploy Flask apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Connecting to 'postgresql+psycopg://bank:***@postgres/bank'

Escreva uma consulta em SQL para responder a cada uma das seguintes questões:

(a) Quem são os clientes que têm contas com saldo superior a 500€?

In [2]:
%%sql
SELECT DISTINCT
  d.customer_name
FROM
  depositor d,
  account a
WHERE
  d.account_number = a.account_number
  AND a.balance > 500;

7 rows affected.

+---------------+
| customer_name |
+---------------+
|     Flores    |
|    Iacocca    |
|    Johnson    |
|     Evans     |
|     Oliver    |
|      Cook     |
|     Brown     |
+---------------+

(b) Em que cidades moram os clientes que têm empréstimos entre 1000€ e 2000€?

In [3]:
%%sql
SELECT DISTINCT 
    c.customer_city
FROM 
    customer c, 
    borrower b,
    loan l
WHERE 
    b.customer_name = c.customer_name
AND l.loan_number = b.loan_number
AND l.amount >= 1000
AND l.amount <= 2000;

3 rows affected.

+---------------+
| customer_city |
+---------------+
|    Coimbra    |
|      Faro     |
|     Oporto    |
+---------------+

(c) Quais seriam os novos saldos das contas na agência de ‘Downtown’, se esta
oferecesse um bónus de 10% sobre o saldo atual dos seus clientes?

In [5]:
%%sql
SELECT account_number, balance*1.1 AS newBalance
FROM account
WHERE branch_name = 'Downtown'

UsageError: Cell magic `%%sql` not found.

(d) Qual é o saldo de todas as contas do cliente que tem o empréstimo L-15?

In [26]:
%%sql
SELECT DISTINCT
    a.balance
FROM loan l,
    depositor d,
    borrower b,
    account a
WHERE l.loan_number = 'L-15'
AND l.loan_number = b.loan_number
AND b.customer_name = d.customer_name
AND d.account_number = a.account_number;

2 rows affected.

+----------+
| balance  |
+----------+
| 500.0000 |
| 700.0000 |
+----------+

(e) Quais são as agências onde têm conta os clientes cujo nome começa por ‘J’ e acaba
em ‘n’?

In [38]:
%%sql
SELECT DISTINCT
    a.branch_name
FROM account a,
    depositor d
WHERE a.account_number = d.account_number
AND d.customer_name LIKE 'J%n';

2 rows affected.

+-------------+
| branch_name |
+-------------+
|   Downtown  |
|    Uptown   |
+-------------+

(f) Quais são as quantias dos empréstimos de todos os clientes que moram numa
cidade cujo nome tem exatamente 6 caracteres?

In [42]:
%%sql
SELECT DISTINCT
    l.amount
FROM loan l,
    customer c,
    borrower b
WHERE c.customer_name = b.customer_name
AND b.loan_number = l.loan_number
AND LENGTH(c.customer_city) = 6;

6 rows affected.

+-----------+
|   amount  |
+-----------+
| 2000.0000 |
| 3000.0000 |
| 5000.0000 |
| 6000.0000 |
| 8000.0000 |
| 9000.0000 |
+-----------+

(g) Quais são as quantias dos empréstimos de todos os clientes que moram numa
cidade cujo nome tem pelo menos um espaço no meio (e não no início nem no
final)?

In [49]:
%%sql
SELECT DISTINCT
    l.amount
FROM loan l,
    customer c,
    borrower b
WHERE c.customer_name = b.customer_name
AND b.loan_number = l.loan_number
AND c.customer_city LIKE '% %';

1 rows affected.

+-----------+
|   amount  |
+-----------+
| 4000.0000 |
+-----------+

(h) Quais os ativos (“assets”) das agências onde o Johnson tem conta?

In [50]:
%%sql
SELECT DISTINCT
    b.assets
FROM branch b,
    account a,
    depositor d
WHERE b.branch_name = a.branch_name
AND a.account_number = d.account_number
AND d.customer_name = 'Johnson';

2 rows affected.

+--------------+
|    assets    |
+--------------+
| 1700000.0000 |
| 1900000.0000 |
+--------------+

(i) Quem são os clientes que têm um empréstimo numa agência da mesma cidade onde moram?

In [14]:
%%sql
SELECT DISTINCT customer_name, customer_city, branch_city
FROM customer INNER JOIN borrower USING (customer_name)
    INNER JOIN loan USING (loan_number)
    INNER JOIN branch USING (branch_name);

9 rows affected.

+---------------+----------------+-------------+
| customer_name | customer_city  | branch_city |
+---------------+----------------+-------------+
|      Cook     |     Lisbon     |   Amadora   |
|     Brown     |     Oporto     |   Amadora   |
|     Davis     |     Oporto     |   Amadora   |
|     Nguyen    | Castelo Branco |    Lisbon   |
|    Gonzalez   |      Faro      |    Lisbon   |
|    Iacocca    |    Coimbra     |    Lisbon   |
|    Iacocca    |    Coimbra     |   Amadora   |
|     Brown     |     Oporto     |  Guimarães  |
|     Parker    |     Oporto     |    Lisbon   |
+---------------+----------------+-------------+

(j) Qual é a quantia total em saldos de contas existentes em agências da cidade de Lisboa (‘Lisbon’)?

In [26]:
%%sql
SELECT DISTINCT
    SUM(balance) AS sumBalanceLisbon
FROM 
    account INNER JOIN branch USING (branch_name)
WHERE 
    branch_city = 'Lisbon'

1 rows affected.

+------------------+
| sumbalancelisbon |
+------------------+
|    1350.0000     |
+------------------+

(k) Quem são os clientes que moram em cidades onde existem agências do banco?

In [7]:
%%sql
SELECT customer_name
FROM customer, branch
WHERE customer_city = branch_city;

11 rows affected.

+---------------+
| customer_name |
+---------------+
|     Parker    |
|     Oliver    |
|     Davis     |
|     Brown     |
|      Cook     |
|     Adams     |
|     Lopez     |
|     Parker    |
|     Oliver    |
|     Davis     |
|     Brown     |
+---------------+